name: tests

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * 0"

jobs:
  test:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v6

      - uses: oven-sh/setup-bun@635640504f6d7197d3bb29876a652f671028dc97 # v2.0.2
        with:
          bun-version: "1.3.3"

      - run: bun install --frozen-lockfile

      - run: bun test --coverage --coverage-reporter=lcov

      - uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 #v5.5.1
        with:
          files: ./coverage/lcov.info
